*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}

.form-style{
    border: 1px solid black;
    border-radius: 25px;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    line-height: 2;
}

.input-text{
    padding: 5px 5px;
}

.radio-style{
    padding: 5px;
    letter-spacing: 1px;
}

.style-button{
    padding: 5px;
    margin-left: 370px;
}
button{
    font-size: x-large;
    width: 150px;
    height: 50px;
    border-radius: 8%;
}